<!-- <code>{{ selectedCells | json }}</code> -->
 <!-- {{rowData|json}} -->
<div class="table-container" cdkDropListGroup>
  <!-- <input
    type="text"
    [(ngModel)]="filterText"
    placeholder="🔍"
    class="filter-input"
  /> -->
  <table #excelTable>
    <thead>
      <tr>
        <th class="index-column" (click)="selectAllCells()"></th>
        <th
          *ngFor="let col of columnDefs; let colIndex = index"
          (click)="sortData(col.field)"
          cdkDrag
          [cdkDragData]="colIndex"
          [class.col-selected]="isColSelected(colIndex)"
          (click)="selectCol(colIndex)"
          (contextmenu)="showContextMenu($event, col)"
        >
          {{ col.headerName }}
          <span (click)="openFilter(col.field)" class="filter-icon">🔍</span>
          <!-- <span *ngIf="sortColumn === col.field">
            {{ sortAsc ? "🔼" : "🔽" }}
          </span> -->
        </th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
      <tr
        *ngFor="let row of filteredData; let rowIndex = index"
        (contextmenu)="showRowContextMenu($event, rowIndex)"
        [class.row-selected]="isRowSelected(rowIndex)"
        [attr.row-index]="rowIndex"
      >
        <td class="index-column" (click)="selectRow(rowIndex)">
          {{ rowIndex + 1 }}
        </td>
        <td
          #cell
          *ngFor="let col of columnDefs; let colIndex = index"
          (click)="selectCell(rowIndex, colIndex)"
          [ngClass]="getBorderClasses(rowIndex, colIndex)"
          [attr.row-index]="rowIndex"
          [attr.col-index]="colIndex"
          [class.selected]="isCellSelected(rowIndex, colIndex)"
          [class.edit-mode]="
            editingCell?.rowIndex === rowIndex &&
            editingCell?.colIndex === colIndex
          "
          (mousedown)="startSelection(rowIndex, colIndex)"
          (mouseup)="endSelection()"
          (mouseover)="trackSelection(rowIndex, colIndex)"
          (dblclick)="enableEdit(rowIndex, colIndex)"
          appTooltip
          [attr.data-tooltip]="row[col.field]"
        >
          <ng-container
            *ngIf="
              editingCell?.rowIndex === rowIndex &&
                editingCell?.colIndex === colIndex;
              else viewMode
            "
          >
            <textarea
              #inputElem
              [(ngModel)]="editedValue"
              (keyup.enter)="saveEdit(rowIndex, colIndex)"
              (keyup.esc)="editingCell = null"
            ></textarea>
          </ng-container>
          <ng-template #viewMode>
            {{ row[col.field] }}
          </ng-template>
        </td>
      </tr>
      <tr *ngIf="dragging">
        <td [attr.colspan]="columnDefs.length + 1" class="placeholder-row"></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Filtro Modal -->
<div *ngIf="filterVisible" class="filter-modal">
    <div class="filter-modal-content">
      <div class="filter-header">
        <input type="text" placeholder="Search" [(ngModel)]="searchText" (input)="filterOptions()" />
        <select [(ngModel)]="filterType">
          <option value="contains">Contains</option>
          <option value="equals">Equals</option>
        </select>
      </div>
      <div class="filter-body">
        <label>
          <input type="checkbox" [checked]="allSelected" (change)="toggleSelectAll($event)" /> (Select all)
        </label>
        <div *ngFor="let option of filteredOptions">
          <label>
            <input type="checkbox" [value]="option" [checked]="selectedOptions.includes(option)" (change)="toggleOption(option)" /> {{ option }}
          </label>
        </div>
      </div>
      <div class="filter-footer">
        <button (click)="applyFilter()">Ok</button>
      </div>
    </div>
  </div>

  <!-- Menu de Contexto Colunas -->
<div *ngIf="contextMenuVisible" class="context-menu" [ngStyle]="{top: contextMenuPosition.y, left: contextMenuPosition.x}">
    <ul>
      <li (click)="cut()">Recortar <span class="shortcut">Ctrl + X</span></li>
      <li (click)="copy()">Copiar <span class="shortcut">Ctrl + C</span></li>
      <li (click)="paste()">Colar <span class="shortcut">Ctrl + V</span></li>
      <hr />
      <li (click)="orderAscending()">Classificar de A a Z</li>
      <li (click)="orderDescending()">Classificar de Z a A</li>
      <hr />
    </ul>
  </div>

  <!-- Menu de contexto para as linhas -->
<div class="context-menu" [ngStyle]="{'top.px': contextRowMenuPosition.y, 'left.px': contextRowMenuPosition.x}" *ngIf="rowContextMenuVisible">
  <ul>
    <li (click)="cutRow()">Recortar</li>
    <li (click)="copyRow()">Copiar</li>
    <hr />
    <li (click)="insertRowAbove()">Inserir uma linha acima</li>
    <li (click)="insertRowBelow()">Inserir uma linha abaixo</li>

    <li (click)="removeRow()">Excluir linha</li>
    <li (click)="removeColumns()">Remover colunas</li>
    <li (click)="undo()">Desfazer</li>
    <li (click)="redo()">Refazer</li>
    <li (click)="setReadOnly()">Read only</li>
    <li (click)="setAlignment()">Alinhamento</li>
  </ul>
</div>