<div cdkDropListGroup>
    <table class="table-excel" #excelTable>
      <thead>
        <tr cdkDropList (cdkDropListDropped)="dropColumn($event)" cdkDropListSortingDisabled>
          <th *ngFor="let column of columns; let i = index" cdkDrag [cdkDragData]="i">
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="dropRow($event)" cdkDropListSortingDisabled>
        <tr *ngFor="let row of data; let rowIndex = index" cdkDrag [cdkDragData]="rowIndex">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>